{% extends 'base.html' %}

{% block content %}



	<div class="header">
        <div class="sec1">モチベーションいらずの三日坊主防止ツール</div>
    <div class="section_btn">
        <a href="/login" class="btn-flat-logo">
            <i class="fa fa-chevron-right"></i> ログイン
          </a>

          <a href="/signup" class="btn-flat-logo">
            <i class="fa fa-chevron-right"></i> 新規登録
          </a>
    </div>

    <div class="teruteru">
    <image src="../static/img/teruteru.png"></image>
    </div>

        <p class="text1">続けたいことがあるのに三日坊主で終わってしまうあなたに</p>
        <h2 class="sec3">続けるポイントは、習慣化すること</h2>
    
    <div class="motivation">
        <p>毎日歯を磨くように<br>モチベーションなどいらないくらいの小さな習慣を設定して<br>習慣化してしまうツールです。</p>
        <p>小さな習慣を積み重ねて自分を変えよう！</p>
    </div>


        <h2 class="sec4">NOT BOSEの仕組み</h2>

        <div class="sec5">習慣にしたいことを一つだけと続ける日数を設定</div>

        <p class="text5">3分間ストレッチする、1ページ読書するなどの小さな目標がおすすめ<br>21日間続けられたら習慣化されると言われています。</p>
        <div class="triangle3"></div>

        <div class="sec5">毎日LINEに通知が届く</div>
    
        <p class="text5">カレンダーに記録！</p>
        <div class="triangle3">
        </div>


        <div class="sec5">指定した日数達成</div>
        <p class="text5">おめでとう！習慣化できたね！次の習慣を設定しよう！</p>
        
        <div class="qrcode">
           
            <image src="../static/img/qrcode.png"></image>
            <p class="p_QRcode">LINEからの通知を受け取る</p>
        </div>
        
        <div class="sec7">無料で三日坊主を克服して成長しよう！</div>
    </div>
    



	
{% endblock %}